.category-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.category-search__container {
  background-color: var(--category-search-bar-background-color);
  width: 75%;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}
