.category-search__pill {
  padding: 8px 14px;
  color: var(--category-color);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 999px;
  transition:
    background-color ease-in-out 200ms,
    transform ease-in-out 200ms;
}

.category-search__pill:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.category-search__pill--selected {
  background-color: var(--category-search-selected-background-color);
  color: var(--category-search-selected-color);
}
