.category-search-bar .category {
  padding: 6px 12px;
  color: var(--link-color);
  text-decoration: none;
  font-size: 16px;

  transition: font-size ease-in-out 250ms;
}

.category-search-bar .category:hover {
  font-size: 18px;

  transition: font-size ease-in-out 250ms;
}
