.news-preview-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 25px;
  padding: 10px;
  border: 1px solid var(--new-border-color);
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
}
