:root {
  --background-color: #f8f8ff;
  --navbar-color: #333;
  --navbar-title-color: #f8f8ff;
  --link-color: white;
  --link-hover-background-color: #f80000;
  --category-color: white;
  --category-search-bar-background-color: #e62e1b;
  --new-border-color: #191919;

  --font-family: Arial, Helvetica, sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}
