.dropdown__button {
  color: var(--link-color);
  text-decoration: none;
  margin: 0px;
  font-size: 16px;
  font-family: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.dropdown__button:hover {
  font-size: 18px;
  background-color: var(--link-hover-background-color);

  transition:
    background-color ease-in-out 250ms,
    font-size ease-in-out 250ms;
}
