.news-search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.news-search-bar__container {
  background-color: var(--category-search-bar-background-color);
  width: 75%;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.news-search-bar__input {
  width: 90%;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  background-color: var(--category-search-bar-background-color);
  text-align: center;
}

.news-search-bar__input:focus {
  outline: none;
}

.news-search-bar__input::placeholder {
  color: white;
}
